*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(to top,  rgb(247, 232, 26), rgba(209, 9, 9, 0.863));
}
#menu{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.container{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding-bottom: 130px;
}
/* .container header{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
} */
.logo{
    width: 100%;
    height: fit-content;
    box-shadow: 0 0 5px rgb(43, 43, 43);
    border-radius: 10px;
}
.logo img{
    width: 100%;
    border-radius: 10px;
}
.accordion{
    width: 100%;
}
.accordion-header{
    width: 100%;
}
.accordion-button{
    padding: 10px;
    width: 100%;
    gap: 30px;
}
.cartoes{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    padding: 10px;
}
.cartoes h2{
    width: 100%;
    text-align: center;
    padding: 5px;
    box-shadow: 0 0 5px black;
    border-radius: 10px;
    font-size: 2rem;
    text-transform: uppercase;
}
.card{
    border-radius: 10px !important;
}
.quant{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2%;
    width: 100%;
}
.quantidade{
    padding: 5px 20px;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}
.quant button{
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pedir,
.pedir.f{
    padding: 10px 0;
    width: 35%;
    text-transform: uppercase;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    align-self: center;
}
.pedir.f{
    width: 50%;
}
.card-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 0 0 0 16px;
}
.card-header .card-title,
.card-header .preco{
    display: flex;
    align-items: center;
    padding: 10px 0;
    margin: 0;
    font-size: 20px;
    font-weight: 700;
}
.card-header .card-title{
    width: 55%;
    justify-content: center;
}
.card-header .preco{
    width: 40%;
    justify-content: center;
    height: 100%;
    border-top-right-radius: 8px;
    color: rgb(228, 15, 15) !important;
    font-size: 23px;
    background: rgb(202, 200, 200);
}
.card-body img{
    border-radius: 10px;
    box-shadow: 0 0 4px black;
}
.card-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 10px;
}
#pedidos{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    margin: 10px 0;
}
#itens-pedido{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* padding: 10px; */
    border: 1px solid black;

    border-radius: 10px;
    position: relative;
}
#itens-pedido .card-title{
    width: 100%;
    border-radius: 8px;
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
#itens-pedido .card-footer{
    width: 100%;
    border-radius: 8px;
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
#itens-pedido .card-footer button{
    /* height: 50px; */
    /* width: fit-content; */
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#lista-pedido{
    display: flex;
    align-items: flex-start;
    margin: 10px 0;
    flex-direction: column;
    width: 100%;
    padding: 0 10px;

}
#lista-pedido li{
    list-style: none;
    width: 100%;
    display: flex;
    margin: 3px 0;
    align-items: center;
    justify-content: space-between;
    padding-left: 5px;
}
#lista-pedido li .btn{
    height: 30px;
    padding: 5px;
    margin: 0;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.whats{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.whats ion-icon{
    font-size: 20px;
}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100%;
    position: absolute;
    padding: 0;
    margin: 0;
    bottom: 0;
    left: 0;
}
footer p{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}